/* main */
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: black;
}

a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 900;
    transition: 0.2s;
}
a::after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.2s;
}
a:hover::after {
    width: 100%;
}

.pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60vw;
    row-gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

img {
    position: relative;
    transition: 0.3s;
    width: 250px;
    height: 250px;
}
img::after {
    position: absolute;
    display: block;
    content: "";
    color: white;
    background-color: white;    
    height: 20px;
    width: 20px;
}

.pic>img:hover {
    transform: scale(1.1) rotate(1turn);
}
h1 {
    color: white;
    margin-left: 20px;
}
footer {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer>p {
    color: rgba(255, 255, 255, 0.5);
}
.footer-link {
    color: rgba(255, 255, 255, 0.5);
}
hr {
    margin-top: 35px;
    width: 60vw;
    opacity: 0.5;
}

/* account.html */
/* account-info-settings */
main {
}
.container-account-info-settings {
    margin-top: 10px;
    width: 60vw;
    max-width: 60vw;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.container-account-info {
    display: flex;
    justify-content: flex-start;
    gap: 10px;

}
.container-settings {
    margin-right: 10px;
    display: flex;
    align-items: end;
    gap: 5px; 
}
/* favorite-monkey */
.container-favorite-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    max-width: 60vw;
}
.container-favorite-monkey {
    margin-top: 10px;
    background-color: gray;
    width: 60vw;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 5px;
}
p {
    color: white;
}
.btn-clear-favorite {
    margin-right: 20px;
    color: white;
}


/* test */
#draggableBox {
  position: absolute; /* Или position: fixed */
  width: 100px;
  height: 100px;
  background-color: lightblue;
  cursor: grab; /* Курсор, указывающий на возможность перетаскивания */
  top: 10px; /* Начальная позиция по оси Y */
  left: 10px; /* Начальная позиция по оси X */
}